<!DOCTYPE html>
<html>
  <head>
    <title>Alain Creton</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="/bootstrap3/css/bootstrap.css" rel="stylesheet" />
    <link href="/theme/css/ct-paper.css" rel="stylesheet"/>
    <link href="/theme/css/themify-icons.css" rel="stylesheet">
    <link href="/theme/css/examples.css" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>

  </head>

  <body>
   <%= render 'shared/navbar' %>
    <%= yield %>
  </body>
</html>
